<div class="game-content">
    <h2 class="game-title">Juego del Ahorcado</h2>

    <div class="game-setup" [class.game-setup--is-ready]="currentStatus === gameStatusEnum.isReady">
        <div class="game-setup__select">
            <select [(ngModel)]="selectedLanguage">
                <option value="">Selecciona Idioma</option>
                <option *ngFor="let lang of languages" [value]="lang.code">{{ lang.culture }}</option>
            </select>
        </div>

        <div class="game-setup__select">
            <select [(ngModel)]="selectedCategory">
                <option value="">Selecciona Categoría</option>
                <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
        </div>

        <ng-container *ngIf="currentStatus === gameStatusEnum.isReady">
            <button 
                class="game-setup__button" 
                (click)="startGame()"
            >
                Iniciar Juego
            </button>
        </ng-container>
    </div>

    <ng-container *ngIf="word">
        <div class="game-display">
            <app-hangman-status [attemptsLeft]="attemptsLeft">
            </app-hangman-status>

            <div class="game-letters">
                <!-- Mostrar palabra -->
                <app-word-display [word]="word" [guessedLetters]="guessedLetters" [wrongCharacter]="wrongCharacter">
                </app-word-display>

                <p class="game-guessedLetters">Letras adivinadas: 
                    <span>{{ guessedLetters.join(', ') }}</span>
                </p>
                <p class="game-wrongLetters">Letras incorrectas: 
                    <span>{{ wrongLetters.join(', ') }}</span>
                </p>
            </div>
        </div>

        <ng-container *ngIf="currentStatus === gameStatusEnum.isWinner">
            <div class="game-status">
                <p class="game-winner-message">🎉 ¡Ganaste!</p>
            </div>
        </ng-container>

        <ng-container *ngIf="currentStatus === gameStatusEnum.isGameOver">
            <div class="game-status">
                <p class="game-over-message">💀 ¡Perdiste! La palabra era: {{ word }}</p>
            </div>
        </ng-container>

        <!-- Teclado de letras -->
        <app-letter-input (letterGuessed)="onLetterGuessed($event)" [guessedLetters]="guessedLetters"
            [wrongLetters]="wrongLetters" [isDisabled]="currentStatus !== gameStatusEnum.isPlaying">
        </app-letter-input>

        <div class="game-attempts">
            <p>Intentos restantes: <span>{{ attemptsLeft }}</span></p>
        </div>

        <ng-container *ngIf="currentStatus !== gameStatusEnum.isPlaying">
        </ng-container>
        <button 
            class="game-reset"
            (click)="resetAndLoadNew()" 
            [disabled]="isLoading"
        >
        <span *ngIf="!isLoading">Reset Game</span>
        <span *ngIf="isLoading">¡Cargando palabra, espere un momento!</span>
        </button>
    </ng-container>
</div>